<h1> Welcome, <%= @user.username %> </h1>
<p>
    <% Game.all.each do |game| %>
        <%= game.name %> -
        <%= game.genre %> -
        <a href="games/<%= game.id %>"> View Game Page </a> 
        <br>
    <% end %>
</p>

<a href="/users/<%= @user.slug %>"> View your Library </a>
<br>
<a href="/games/new"> Add a Game to your Library </a>
